	<div style="position: fixed;" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Your Tray</h3>
		</div>
		<div class="panel-body" ng-model="sandwich">
			<div class="tray-sandwich">
					<div>
						<div class='name' ng-repeat="sandwich in sideSandwiches"><img src="http://fc00.deviantart.net/fs70/f/2012/178/c/e/sandwich_icon_by_yamshing-d553fv4.png" height="35" width="35"><strong> {{sandwich.name}}</strong>
						<div class="descrip">{{sandwich.description}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button ui-sref="checkout" class="btn btn-primary btn-lg" ng-hide="hideCheckoutButton">Checkout</button>
			<button ng-click="submitOrder()" class="btn btn-primary btn-lg" ng-hide="hideSubmitButton" >Submit</button>
		</div>
		<br>
	</div>

