<section id='signup'>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="form-signin-heading">Sign Up Here</h2>
        <form class="form-signin">
          <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName" required><br>
          <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName" required><br>
          <input type="email" class="form-control" placeholder="Email address" ng-model="user.email" required><br>
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signup()">Sign Up</button>
        </form>
        <button>Log In</button>
    </div>
  </div>
</div>
</section>
