navbar {

  display: block;
  background: #a1a1a1;

  .navbar-brand {
    width: 150px;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 80px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .nav > li > a {
    padding:30px 10px 30px;
    cursor: pointer;
    &.active {
      color: #f30046;
    }
    &:hover {
      transition: color 0.2s;
    }
    // &:focus {
    //   color: #f30046;
    //   background: transparent;
    // }
  }

.navbar-default .navbar-toggle {
    vertical-align: middle;
}

.navbar-default a.navbar-brand {
  vertical-align: middle;
}

}