<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-4">
      <form stripe:form="submitPayment" class="form">
        <fieldset>
          <input class="form-control" ng-model="number" placeholder="Card Number" data-stripe="number" /><br>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <input class="form-control" type="text" placeholder="MM" ng-model="expmonth" size="2" data-stripe="exp-month"/>
          </div>
          <div class="col-md-1">
            <strong>/</strong>
          </div>
          <div class="col-md-3">
            <input class="form-control" type="text" placeholder="YY" ng-model="expyear" size="4" data-stripe="exp-year"/>
          </div>
          <div class="col-md-3">
            <input class="form-control" ng-model="cvc" placeholder="CVC" data-stripe="cvc" /><br>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </fieldset>
      </form>
      <span ng-show="paymentSubmitted"><h3>Thank you for your payment of {{totalPrice | currency}}!</h3>

      <p><a ui-sref="createsandwich" class="btn btn-primary btn-sm ">Build Another Sandwich!</a></p>

      <p><a ui-sref="success">Go to Profile</a></p>

      </span>
    </div>
  </div>
</div>
