@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

* {
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	  font-weight: 300;
    color: #666;
    background-color: #fff;
    background: url("../scss/Sandwich-Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.full {

}

.container {
	padding-top: 100px;
}

.container.navbar {
	padding: 0;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

#side-panel {
	margin-top: 55px;
}

ul.tray-sandwich{
	 padding:0;
}

.tray-sandwich {
	li.name{
		font-weight: bold;
		background-image: url('/sandwich-icon.gif');
		padding:0.15em 0 0.5em 1.5em;
		margin-bottom:0.2em;
		text-indent:0.4em;
		font-weight:bold;
		list-style:none;
		background-repeat:no-repeat;
		margin-bottom: 1px;
	}
	.descrip {
		font-weight: normal;
		font-size: 80%;
		font-style: italic;
		word-wrap:break-word;
		margin-bottom: 6px;
	}
}

form.submitted .ng-invalid {
	border: 2px solid #f00;
}

.error {
	color: #e80002;
	size: 12px;
}

img.homepic {
	// display: block;
	img {
		// display: block;
	    width: 250px;
		margin-bottom: 0px;
	}
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0;
	background-color: #67b0d1;
}
.navbar .nav > li > a.active {
  color: #444;
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}

.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
    color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    color: #444;
    background-color: rgba(255,255,255,.2);
}

.navbar-custom.top-nav-collapse ul.nav li a {
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#navLogo {
	padding-top: 30px;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #444;
    border: 1px solid black;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


.col-centered {
	margin: 0 auto;
}

.btn-circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 42%;
}

.btn-primary {
  background: #67b0d1;
  border: none;
}

.btn-primary:hover {
  background: #4e87a1;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

div.thumbnail{
  height: 550px;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
  height: 85px;
}

.caption {
  height: 130px;
  overflow: hidden;
}
.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.scrollable-menu {
    height: auto;
    max-height: 350px;
    overflow-x: hidden;
    position: fixed;
}

.panel-heading {
  position:fixed;
  width: auto;
}

.sandwich-descrip {
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  text-transform: none;
}

p.no-reviews {
   font-style: italic;
   font-weight: bold; 
}

div.reviewForm {
  margin-top: 50px;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: #67B0D1;
}




@import 'directives/main';
@import 'home/main';
