* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.tray-sandwich {

	.name {
		font-weight: bold;
		word-wrap:break-word;
		margin-bottom: 1px;
	}
	.descrip {
		font-weight: normal;
		font-size: 80%;
		font-style: italic;
		word-wrap:break-word;
		margin-bottom: 6px;
	}
}

@import 'directives/main';
@import 'home/main';
